<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">

<center>
    {% block head %}
    <div class='container-fluid' style='margin-bottom: 18px; margin-top: 8px; text-align: center'>
        <nav class="navbar navbar-light" style="background-color: #214f70; color: #b9dcf5; border-radius: .60rem!important; text-align: center">
            <ul class="nav navbar-nav flex-fill justify-content-center">
                <p class="navbar-brand mb-0 h1" style='text-align: center'>PC Over Phone</p>
            </ul>
        </nav>
    </div>
    {% endblock %}
</center>
