<div class="fixed-bottom" style='padding: 25px'>
    <div class='container-fluid' style='margin-bottom: 0px; margin-top: 8px; text-align: center'>
        <nav class="navbar navbar-light" style="background-color: #242a2e; border-color: #1b5d8b; color: #b9dcf5; border-radius: .60rem!important;">
            <ul class="nav navbar-nav flex-fill">
                <span class="navbar-brand mb-0 h1" style='color: white; font-size:16px; float: left; text-align: left;'><b></b>PC Over Phone</span>
            </ul>
        </nav>
    </div>
</div>
