<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <script>
            function sendRequest(value) {
                $.ajax({
                    url: '/custom_streamdeck',
                    async: true,
                    method: "POST",
                    data: {"app": value},
                    dataType: 'json',
                    success: function(data) {
                        authorized = data['authorized'];
                        if (authorized==true) {
                            setTimeout(function(){document.body.style.backgroundColor = "#212921";}, 0);
                            setTimeout(function(){document.body.style.backgroundColor = "#212529";}, 400);
                        } else if (authorized==false) {
                            setTimeout(function(){document.body.style.backgroundColor = "#FF000E";}, 0);
                            setTimeout(function(){document.body.style.backgroundColor = "#212529";}, 400);
                        } else {
                            setTimeout(function(){document.body.style.backgroundColor = "#FF000E";}, 0  );
                            setTimeout(function(){document.body.style.backgroundColor = "#212529";}, 400);
                        }
                    }
                    
                });
            }
        </script>

</body>